name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    name: mix test (Elixir ${{matrix.pair.elixir}} | Erlang/OTP ${{matrix.pair.otp}})
    runs-on: ubuntu-18.04
    services:
      postgres:
        image: postgres:11.6-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.12.3
              otp: 24.0.6
              distribution: true
          - pair:
              elixir: 1.7.4
              otp: 19.3.6
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}
      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get --only test
      - name: Run tests
        env:
          POSTGRES_PORT: 5432
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test

      - name: Run distribution tests
        env:
          POSTGRES_PORT: 5432
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          elixir --sname mytests --cookie mycookie -S mix test --only distribution
        if: ${{ matrix.pair.distribution }}
