name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    name: mix test (Elixir ${{matrix.pair.elixir}} | Erlang/OTP ${{matrix.pair.otp}})
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.14.1
              otp: 25.1.2
          - pair:
              elixir: 1.12.3
              otp: 24.0.6
          - pair:
              elixir: 1.11.4
              otp: 21.3.8.24
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}
      - name: Run PostgreSQL 11
        run: |
          docker run --env POSTGRES_USER=postgres \
            --env POSTGRES_DB=ecto_psql_extras_test \
            --env POSTGRES_PASSWORD=postgres \
            -d -p 5432:5432 postgres:11.18-alpine \
            postgres -c shared_preload_libraries=pg_stat_statements
          sleep 5
      - name: Run PostgreSQL 12
        run: |
          docker run --env POSTGRES_USER=postgres \
            --env POSTGRES_DB=ecto_psql_extras_test \
            --env POSTGRES_PASSWORD=postgres \
            -d -p 5433:5432 postgres:12.13-alpine \
            postgres -c shared_preload_libraries=pg_stat_statements
          sleep 5
      - name: Run PostgreSQL 13
        run: |
          docker run --env POSTGRES_USER=postgres \
            --env POSTGRES_DB=ecto_psql_extras_test \
            --env POSTGRES_PASSWORD=postgres \
            -d -p 5434:5432 postgres:13.9-alpine \
            postgres -c shared_preload_libraries=pg_stat_statements
          sleep 5
      - name: Run PostgreSQL 14
        run: |
          docker run --env POSTGRES_USER=postgres \
            --env POSTGRES_DB=ecto_psql_extras_test \
            --env POSTGRES_PASSWORD=postgres \
            -d -p 5435:5432 postgres:14.6-alpine \
            postgres -c shared_preload_libraries=pg_stat_statements
          sleep 5
      - name: Run PostgreSQL 15
        run: |
          docker run --env POSTGRES_USER=postgres \
            --env POSTGRES_DB=ecto_psql_extras_test \
            --env POSTGRES_PASSWORD=postgres \
            -d -p 5436:5432 postgres:15.1-alpine \
            postgres -c shared_preload_libraries=pg_stat_statements
          sleep 5
      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get --only test
      - name: Run tests for PG 11
        env:
          PG_VERSION: 11
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 12
        env:
          PG_VERSION: 12
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 13
        env:
          PG_VERSION: 13
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 14
        env:
          PG_VERSION: 14
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 15
        env:
          PG_VERSION: 15
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Install postgrex 0.17 (except on elixir 1.7.4)
        if: matrix.pair.elixir != '1.7.4'
        run: |
          mix deps.unlock --all
          mix deps.update postgrex
      - name: Run tests for PG 11/postgrex 0.17 (0.15 on elixir 1.7.4)
        env:
          PG_VERSION: 11
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 12/postgrex 0.17 (0.15 on elixir 1.7.4)
        env:
          PG_VERSION: 12
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 13/postgrex 0.17 (0.15 on elixir 1.7.4)
        env:
          PG_VERSION: 13
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 14/postgrex 0.17 (0.15 on elixir 1.7.4)
        env:
          PG_VERSION: 14
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
      - name: Run tests for PG 15/postgrex 0.17 (0.15 on elixir 1.7.4)
        env:
          PG_VERSION: 15
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_DB: ecto_psql_extras_test
          POSTGRES_PASSWORD: postgres
        run: |
          sleep 4 # wait pg
          mix test --include distribution
